.group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 2px solid #3f3d56;
  width: 700px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.form-group .add {
  background: #f3f3f3;
  color: #58bd90;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 31px;
  width: 500px;
  height: 40px;
  border: 2px solid #3f3d56;
  padding-left: 2.5rem;
  outline: none;
}

.form-group .add::placeholder {
  font-size: 1rem;
  color: #58bd90;
  font-weight: 600;
}

.group button {
  align-items: center;
  margin-top: 1rem;
  background: #f3f3f3;
  border-radius: 31px;
  box-shadow: none;
  color: #58bd90;
  width: 70px;
  height: 45px;
  margin-left: 5px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #3f3d56;
  padding-left: 2.5rem;
  margin-bottom: 20px;
}
.group button img {
  margin-left: -30px;
}
